<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <a href="/">
                <img class="flip-logo" src="/images/logooooo-removebg-preview.png" alt="Logo">
            </a>
        </div>
        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; <%= new Date().getFullYear() %> <a href="https://digitaltransformationcompanypakistan.com" target="_blank">DTC Pak</a>. All rights reserved.
    </div>
</footer>
<style>
    .footer {
        background-color: #333;
        color: #fff;
        display: flex;
        padding: 20px 0;
        text-align: center;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .footer-logo img {
        width: 10rem;
        height: auto;
    }
    
</style>